In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

#headers에 user agent 정보 넣기
headers = {'User-Agent' : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"}

#정보를 담을 리스트 생성
number=[]
name=[]
position=[]
age=[]
nation=[]
team=[]
value=[]

#url 주소 넣기 (원하는 페이지 수만큼 넣기)
for i in range(1, 21):
    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop/plus/ajax/yw1/ausrichtung/alle/spielerposition_id/alle/altersklasse/alle/jahrgang/0/land_id/0/kontinent_id/1/yt0/Show/0//page/{i}"

    #request.get()으로 연결
    r =requests.get(url, headers=headers)
    #status_code 응답확인하기 (200이면됨)
    r.status_code

    #beautifulsoup로 접속하기
    soup=BeautifulSoup(r.text, 'html.parser') #text 또는 content

    #선수 정보가 담긴 태그나 클래스 찾기
    player_info = soup.find_all('tr', class_=['even','odd'])
    
    # player_info에서 'td'태그만 모두 찾기
    for info in player_info:
        player = info.find_all("td")

        number.append(player[0].text)
        name.append(player[3].text)
        position.append(player[4].text)
        age.append(player[5].text)
        nation.append(player[6].img['alt'])
        team.append(player[7].img['alt'])
        value.append(player[8].text.strip())
        
    time.sleep(1)
    df = pd.DataFrame(
        {"number":number,
         "name":name,
         "position":position,
         "age":age,
         "nation":nation,
         "team":team,
         "value":value}
    )
df

,number,name,position,age,nation,team,value
0,1,Heung-min Son,Left Winger,30,"Korea, South",Tottenham Hotspur,€75.00m
1,2,Takehiro Tomiyasu,Right-Back,23,Japan,Arsenal FC,€25.00m
2,3,Sardar Azmoun,Centre-Forward,27,Iran,Bayer 04 Leverkusen,€22.00m
3,4,Daichi Kamada,Attacking Midfield,26,Japan,Eintracht Frankfurt,€22.00m
4,5,Mehdi Taremi,Centre-Forward,30,Iran,FC Porto,€20.00m
...,...,...,...,...,...,...,...
495,496,Takuya Okamoto,Right-Back,30,Japan,Shonan Bellmare,€600Th.
496,497,Kenyu Sugimoto,Centre-Forward,29,Japan,Júbilo Iwata,€600Th.
497,498,Yoshiaki Komai,Attacking Midfield,30,Japan,Hokkaido Consadole Sapporo,€600Th.
498,499,Yuya Kubo,Centre-Forward,28,Japan,FC Cincinnati,€600Th.
499,500,Tatsuki Nara,Centre-Back,28,Japan,Avispa Fukuoka,€600Th.

In [6]:
is_korea = df['nation'] == 'Korea, South'
korea = df[is_korea]
korea

,number,name,position,age,nation,team,value
0,1,Heung-min Son,Left Winger,30,"Korea, South",Tottenham Hotspur,€75.00m
5,6,Hee-chan Hwang,Centre-Forward,26,"Korea, South",Wolverhampton Wanderers,€16.00m
6,7,Min-jae Kim,Centre-Back,25,"Korea, South",SSC Napoli,€14.00m
13,14,Ui-jo Hwang,Centre-Forward,30,"Korea, South",Olympiacos Piraeus,€7.00m
15,16,Kang-in Lee,Attacking Midfield,21,"Korea, South",RCD Mallorca,€6.00m
...,...,...,...,...,...,...,...
459,460,Hyun-soo Hwang,Centre-Back,27,"Korea, South",FC Seoul,€625Th.
460,461,Seok-jong Han,Defensive Midfield,30,"Korea, South",Suwon Samsung Bluewings,€625Th.
461,462,Geon-ung Kim,Defensive Midfield,25,"Korea, South",Suwon FC,€625Th.
462,463,Seung-gyu Han,Central Midfield,25,"Korea, South",FC Seoul,€625Th.
463,464,Yu-min Cho,Centre-Back,25,"Korea, South",Daejeon Hana Citizen,€625Th.

In [3]:
korea.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 220
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    35 non-null     object
 1   name      35 non-null     object
 2   position  35 non-null     object
 3   age       35 non-null     object
 4   nation    35 non-null     object
 5   team      35 non-null     object
 6   value     35 non-null     object
dtypes: object(7)
memory usage: 2.2+ KB

In [7]:
korea.to_csv('korea.csv', index=False)

In [11]:
korea.to_excel('korea.xlsx', index=False)